/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/10/2018, 17:29:59
    Author     : valre
*/

#bd{
    background-color: lightseagreen
}

#botoes{
    margin-left: 8%
}

#JB{
   
    background-color: gainsboro;
    margin-top: -6%;
    
    
        
}

#alunos{
    margin-left: 10%;
    background-color: #ced5e5;
    margin-right: 10%
}

.container-fluid{
    
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
#col1{
    text-align: center
}
#col2{
    text-align: center
}
#col3{
    text-align: center
}
.footer-css{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}