/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/10/2018, 17:29:59
    Author     : valre
*/

#bd{
    background-color: lightseagreen;
  
}

#botoes{
    margin-left: 8%
}

#JB{
   
    background-color: gainsboro;
    margin-top: -2%;
    
           
}
#JB2{
    background-color: gainsboro;
   
}

.container-fluid{
    
}
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}
#col1{
    text-align: center
}
#col2{
    text-align: center
}
#col3{
    text-align: center
}
.footer-css{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}.jumbotron {

}
#Text1{
   font-size: 4rem
}

.thumbnail{
    align-content: center;
    margin-right: 10%
}
.table-striped{
    border-color: black
}
#Row1{
    margin-left: 40%
}
#btn1{
    border:1px solid; 
    padding: 11px 21px; 
    vertical-align: middle; 
    background:#2D888F; 
    color:white;
    border-radius:6px; 
    font-size: 20px; 
    font-family:helvetica, serif;
    text-decoration:none;
}
#btn2{
    border:1px solid; 
    padding: 11px 21px; 
    vertical-align: middle; 
    background:#2D888F; 
    color:white;
    border-radius:6px; 
    font-size: 20px; 
    font-family:helvetica, serif;
    text-decoration:none;

}
#btn3{
    border:1px solid; 
    padding: 5px 8px;
    background:#2D888F;
    color:white;
    border-radius:6px;
    font-size: 18px; 
    font-family:helvetica, serif;
    text-decoration:none;
}


#botao{
    border:1px solid; 
    padding: 2px 8px;
    background:#2D888F;
    color:white;
    border-radius:6px;
    font-size: 18px; 
    font-family:helvetica, serif;
    text-decoration:none;
}
#thumb1{
    align-content: center
}
